
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/header.css" />

<div class="header">
  <a href="/">Jude's Cat Database</a>
  <div class="header-links-container">
    <a href="/cats/grid">Grid</a>
    <a href="/cats/list">List</a>
  </div>
</div>
