<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="header">
  <div class="header-container">
    <a href="/">Jude's Cat Database</a>
    <div class="header-links-container">
      <a href="">Sort</a>
      <a href="">Filter</a>
    </div>
    <hr />
  </div>
</div>
