<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jude's Cat Database</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="fullscreen">
      <div class="hero">
        <h1>Jude's Cat Database</h1>
        <p>
          This is a simple web application that allows you to view, add, and
          delete cats from Jude's Cat Database.
        </p>

        <a href="/cats/grid">
          <button>View Cats</button>
        </a>
      </div>
    </div>
  </body>
</html>
