<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jude's Cat Database</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Jude's Cat Database</h1>
    <p>
      This is a simple web application that allows you to view, add, and delete
      cats from Jude's Cat Database.
    </p>
    <span>Select your view:</span>
    <button>
      <a href="/cats/list">List</a>
    </button>
    <button>
      <a href="/cats/grid">Grid</a>
    </button>
  </body>
</html>
