a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cat-box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 5vw;
  row-gap: 5vh;
}

.cat-info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  max-height: 350px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.36);
  /*  */
  height: 100%;
}

.cat-info-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span {
  font-size: 1.5rem;
}
